Repository ksiaz/liquidation-trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r004-arbitration-priority-frozen, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r009-m5-query-params, r010-mandate-types, r011-dependency-drift, r012-primitive-computation, r013-exit-supremacy, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

r001-forbidden-imports-execution-to-obs:
  name: 'R001: Forbidden Imports (Execution → Observation)'
  entry: python scripts/ci/check_forbidden_imports.py --schema SYSTEM_MAP_SCHEMA.yaml --scan runtime/ execution/ external_policy/ --forbidden observation/internal/ memory/m2_ memory/m3_ memory/m4_ --fail-on-violation
  language: system
  ...

r002-forbidden-imports-obs-to-execution:
  name: 'R002: Forbidden Imports (Observation → Execution)'
  entry: python scripts/ci/check_forbidden_imports.py --schema SYSTEM_MAP_SCHEMA.yaml --scan observation/ memory/ --forbidden runtime/m6_ runtime/executor --fail-on-violation
  language: system
  pass_filenames: false

r003-state-machine-frozen:
  name: 'R003: State Machine Transition Table Changed'
  entry: python scripts/ci/verify_state_machine.py --schema SYSTEM_MAP_SCHEMA.yaml --module runtime/position/state_machine.py --machine position_lifecycle --fail-on-mismatch
  language: system
  pass_filenames: false

r004-arbitration-priority-frozen:
  name: 'R004: Arbitration Priority Order Changed'
  entry: python scripts/ci/verify_arbitration_priority.py --schema SYSTEM_MAP_SCHEMA.yaml --module runtime/arbitration/arbitrator.py --fail-on-mismatch
  language: system
  pass_filenames: false

r005-new-module-registration:
  name: 'R005: New Module Not Registered in Schema'
  entry: python scripts/ci/check_new_modules.py --schema SYSTEM_MAP_SCHEMA.yaml --git-diff HEAD~1..HEAD --fail-on-unregistered
  language: system
  pass_filenames: false

r006-frozen-component-modified:
  name: 'R006: Frozen Component Modified Without Override'
  entry: 'python scripts/ci/check_frozen_components.py --schema SYSTEM_MAP_SCHEMA.yaml --git-diff HEAD~1..HEAD --require-override "OVERRIDE: CODE_FREEZE" --fail-on-unauthorized'
  language: system
  pass_filenames: false

r008-epistemic-exposure:
  name: 'R008: Evaluative Field in ObservationSnapshot'
  entry: python scripts/ci/check_epistemic_exposure.py --file observation/types.py --forbidden-fields health ready quality confidence score rating strength --fail-on-violation
  language: system
  pass_filenames: false

r009-m5-query-params:
  name: 'R009: Forbidden M5 Query Parameter'
  entry: python scripts/ci/check_m5_query_params.py --file memory/m5_access.py --forbidden score rating quality confidence predict --fail-on-violation
  language: system
  pass_filenames: false

r010-mandate-types:
  name: 'R010: Unregistered Mandate Type'
  entry: python scripts/ci/check_mandate_types.py --schema SYSTEM_MAP_SCHEMA.yaml --file runtime/arbitration/types.py --enum MandateType --fail-on-unregistered
  language: system
  pass_filenames: false

r011-dependency-drift:
  name: 'R011: Undeclared Dependency in Schema'
  entry: python scripts/ci/check_dependency_drift.py --schema SYSTEM_MAP_SCHEMA.yaml --codebase . --fail-on-undeclared
  language: system
  pass_filenames: false

feat(geometry): Enable HL fills for M2 node creation and zone detection
  observation/governance.py
  observation/internal/m1_ingestion.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

feat(tools): Add paper trade verification tool
  scripts/verify_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(verify): Use HL node as ground truth instead of Binance
  scripts/verification_db.py
  scripts/verify_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

config: Increase max_concurrent_positions from 1 to 3
  runtime/risk/risk_limits.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(verify): Use continuous liquidation stream instead of sampling
  scripts/verify_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(ghost): Add position persistence for external P&L queries
  execution/ep4_ghost_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ghost): Wire strategy_id through to position persistence
  runtime/collector/service.py
  runtime/executor/controller.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(ghost): Inject HL orderbook for ghost execution, fix zone persistence
  execution/ep4_ghost_adapter.py
  execution/ep4_ghost_tracker.py
  runtime/collector/service.py
  runtime/hyperliquid/client.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(node): Wire HL node data to all calculators
  runtime/collector/service.py
  runtime/node_client/bridge.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(cleanup): Auto-cleanup HL node data on disk warning
  runtime/monitoring/memory_cleanup.py
  runtime/monitoring/resource_monitor.py
  scripts/cleanup_hl_data.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Add system startup guide
  docs/STARTUP.md
Due: none

fix(paper): Update callback signatures for new bridge API
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(geometry): Require price at zone for entry
  external_policy/ep2_strategy_geometry.py
  external_policy/test_ep2_strategy_geometry.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(tests): Update 35 test failures for V2 APIs and fix REDUCE keyword bug
  external_policy/ep2_strategy_absence.py
  external_policy/test_ep2_strategy_absence.py
  external_policy/test_ep2_strategy_kinematics.py
  runtime/executor/controller.py
  runtime/executor/tests/test_exit_lifecycle.py
  runtime/executor/tests/test_integration.py
  runtime/executor/tests/test_risk_integration.py
  runtime/tests/test_policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(paper): Unify entry/exit paths and fix adapter staleness
  hl-adapter/server.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(reliability): WAL mode, DB retry, gRPC monitor hardening
  execution/ep4_ghost_tracker.py
  runtime/collector/service.py
  runtime/executor/tests/test_exit_lifecycle.py
  runtime/logging/execution_db.py
  scripts/position_monitor.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(trailing): Enforce one stop per symbol, fix reconciliation bug
  runtime/collector/service.py
  runtime/exchange/trailing_stop_manager.py
  runtime/persistence/execution_state_repository.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(entry-quality): SLBRS tightening, geometry symbol normalization, HL order consumption
  external_policy/ep2_slbrs_strategy.py
  external_policy/ep2_strategy_geometry.py
  runtime/collector/service.py
  runtime/logging/execution_db.py
  runtime/policy_adapter.py
  tests/integration/test_regime_mutual_exclusion.py
  tests/strategies/test_slbrs.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

fix(cascade): Wire HL fills and liquidations to cascade organic detector
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ghost): Return bool from _log_trade_to_db, warn on exit orphan
  execution/ep4_ghost_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(trailing): Unique trade IDs, PnL-based exit labels, balanced config
  execution/ep4_ghost_tracker.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(primitives): Wire HL orderbook and fills to observation layer
  observation/internal/m1_ingestion.py
  runtime/collector/service.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

remove(strategy): Delete Absence and Kinematics — not strategies
  CODE_FREEZE.md
  SYSTEM_MAP_SCHEMA.yaml
  external_policy/ep2_strategy_absence.py
  external_policy/ep2_strategy_kinematics.py
  external_policy/test_ep2_strategy_absence.py
  external_policy/test_ep2_strategy_kinematics.py
  runtime/collector/service.py
  runtime/policy_adapter.py
  runtime/tests/test_policy_adapter.py
  scripts/ci/scan_forbidden_vocabulary.py
  test_phase7_policy_activation.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat(primitives): Wire 4 dead primitives into active strategies
  external_policy/ep2_effcs_strategy.py
  external_policy/ep2_slbrs_strategy.py
  external_policy/ep2_strategy_cascade_sniper.py
  external_policy/ep2_strategy_geometry.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

fix(trading): liq_z calculator, SLBRS orderflow gates, cascade sniper fast-paths, trailing stop improvements
  external_policy/ep2_slbrs_strategy.py
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/collector/service.py
  runtime/exchange/trailing_stop_manager.py
  runtime/liquidations/zscore.py
  runtime/orderflow/imbalance.py
  runtime/policy_adapter.py
  runtime/regime/types.py
  tests/strategies/test_slbrs.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

refactor(db): merge ghost writer into BufferedResearchDatabase
  execution/ep4_ghost_tracker.py
  runtime/collector/service.py
  runtime/logging/buffered_db.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(entry-quality): capitulation signal, gate rejection tracking, exit backfill
  external_policy/ep2_slbrs_strategy.py
  runtime/collector/service.py
  runtime/policy_adapter.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

fix(adapter): derive liquidations from fills for instant flow
  hl-adapter/server.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(data): HL-only data pipeline, regime classifier, silent failure fixes
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/collector/service.py
  runtime/executor/controller.py
  runtime/node_client/bridge.py
  runtime/regime/classifier.py
  tests/regime/test_classifier.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(risk): data freshness circuit breaker blocks entries on stale node/adapter
  runtime/collector/service.py
  runtime/risk/circuit_breaker.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(slbrs): enforce design spec — rejection displacement, volume/impact reduction, R:R gate
  external_policy/ep2_slbrs_strategy.py
  runtime/collector/service.py
  runtime/regime/classifier.py
  tests/integration/test_regime_mutual_exclusion.py
  tests/regime/test_classifier.py
  tests/strategies/test_slbrs.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat: VWAP σ-bands, M2 decay fix, SLBRS tuning, test isolation
  execution/ep4_ghost_tracker.py
  external_policy/ep2_slbrs_strategy.py
  external_policy/ep2_strategy_cascade_sniper.py
  memory/enhanced_decay.py
  memory/enriched_memory_node.py
  memory/liquidity_memory_node.py
  observation/governance.py
  observation/internal/m1_ingestion.py
  runtime/collector/service.py
  runtime/indicators/vwap.py
  runtime/logging/pg_buffered_db.py
  runtime/policy_adapter.py
  runtime/regime/types.py
  runtime/risk/circuit_breaker.py
  scripts/run_paper_trade.py
  tests/conftest.py
  tests/integration/test_regime_mutual_exclusion.py
  tests/integration/test_trade_flow.py
  tests/strategies/test_slbrs.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

fix(slbrs): raise entry quality — rejection threshold, sustained bounce, wider stops
  external_policy/ep2_slbrs_strategy.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix: recalibrate cascade/SLBRS thresholds for HL data, feed HL_PRICE to M1
  external_policy/ep2_slbrs_strategy.py
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(cascade): add EXHAUSTION_FADE entry mode, fix adapter stream reconnect
  external_policy/ep2_strategy_cascade_sniper.py
  hl-adapter/grpc_server.py
  runtime/collector/service.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat(cascade): rewrite EXHAUSTION_FADE — immediate entry, counter-trend gate, per-coin trailing
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/collector/service.py
  runtime/exchange/trailing_stop_manager.py
  runtime/liquidations/__init__.py
  runtime/liquidations/burst_aggregator.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(cascade): add ROLLING_FADE entry mode — 30m rolling liq spike detection
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/collector/service.py
  runtime/liquidations/__init__.py
  runtime/liquidations/rolling_volume_tracker.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat: add market state machine — per-symbol snapshots with pipeline health counters
  runtime/collector/service.py
  runtime/liquidations/rolling_volume_tracker.py
  runtime/liquidations/zscore.py
  runtime/logging/pg_buffered_db.py
  runtime/logging/pg_schema.py
  runtime/market_state/__init__.py
  runtime/market_state/emitter.py
  runtime/market_state/queries.py
  runtime/market_state/snapshot.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix: ROLLING_FADE feed freshness gate + wall-clock activity tracking
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

Path conditions:
  r001-forbidden-imports-execution-to-obs: any of: \.(py)$
  r002-forbidden-imports-obs-to-execution: any of: \.(py)$
  r003-state-machine-frozen: any of: runtime/position/state_machine\.py$
  r004-arbitration-priority-frozen: any of: runtime/arbitration/arbitrator\.py$
  r005-new-module-registration: any of: \.(py)$
  r006-frozen-component-modified: any of: \.(py)$
  r008-epistemic-exposure: any of: observation/types\.py$
  r009-m5-query-params: any of: memory/m5_access\.py$
  r010-mandate-types: any of: runtime/arbitration/types\.py$
  r011-dependency-drift: any of: \.(py)$
  r012-primitive-computation: any of: observation/governance\.py$
  r013-exit-supremacy: any of: runtime/arbitration/arbitrator\.py$
  r014-failed-state-terminal: any of: observation/governance\.py$
  r017-timestamp-units: any of: observation/internal/m1_ingestion\.py$
  forbidden-vocabulary: any of: \.(py)$
  r016-case-sensitivity: any of: runtime/policy_adapter\.py$
