Repository ksiaz/liquidation-trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r004-arbitration-priority-frozen, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r009-m5-query-params, r010-mandate-types, r011-dependency-drift, r012-primitive-computation, r013-exit-supremacy, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

Path conditions:
  r001-forbidden-imports-execution-to-obs: any of: \.(py)$
  r002-forbidden-imports-obs-to-execution: any of: \.(py)$
  r003-state-machine-frozen: any of: runtime/position/state_machine\.py$
  r004-arbitration-priority-frozen: any of: runtime/arbitration/arbitrator\.py$
  r005-new-module-registration: any of: \.(py)$
  r006-frozen-component-modified: any of: \.(py)$
  r008-epistemic-exposure: any of: observation/types\.py$
  r009-m5-query-params: any of: memory/m5_access\.py$
  r010-mandate-types: any of: runtime/arbitration/types\.py$
  r011-dependency-drift: any of: \.(py)$
  r012-primitive-computation: any of: observation/governance\.py$
  r013-exit-supremacy: any of: runtime/arbitration/arbitrator\.py$
  r014-failed-state-terminal: any of: observation/governance\.py$
  r017-timestamp-units: any of: observation/internal/m1_ingestion\.py$
  forbidden-vocabulary: any of: \.(py)$
  r016-case-sensitivity: any of: runtime/policy_adapter\.py$

fix: Improve CI validation context-awareness
  .github/workflows/constitutional_compliance.yml
  .pre-commit-config.yaml
  scripts/ci/scan_forbidden_vocabulary.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat: Add comprehensive order book primitive validation system
  ORDERBOOK_VALIDATION_IMPLEMENTATION.md
  runtime/collector/service.py
  runtime/logging/execution_db.py
  scripts/analyze_primitive_performance.py
  scripts/validate_orderbook_primitives.py
  test_m4_orderbook_validation.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat: Enable ground truth validation for order book primitives
  observation/governance.py
  observation/types.py
  runtime/collector/service.py
  runtime/logging/execution_db.py
  scripts/validate_orderbook_primitives.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

feat: Add validation layers 3 & 4 - Policy outcome attribution
  execution/ep4_ghost_tracker.py
  runtime/collector/service.py
  runtime/logging/execution_db.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat: Implement order book depth ingestion and resting size primitives
  ORDER_BOOK_PRIMITIVES_IMPLEMENTATION_COMPLETE.md
  memory/enriched_memory_node.py
  memory/m2_continuity_store.py
  memory/m4_orderbook_primitives.py
  observation/governance.py
  observation/internal/m1_ingestion.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary

feat: Implement consumption, absorption, and refill event detection
  .github/scripts/semantic_leak_scan.py
  observation/governance.py
  observation/internal/m1_ingestion.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary

fix: Correct imports and signatures in test_m4_orderbook_validation.py
  test_m4_orderbook_validation.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

test: Add comprehensive M1 ingestion engine test suite
  tests/test_observation_m1_ingestion.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

test: Add comprehensive Observation System governance test suite
  tests/test_observation_governance.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

test: Add Collector Service basic test suite
  tests/test_collector_service_basics.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix: Restore critical ghost trading functionality (4 bugs fixed)
  observation/governance.py
  observation/types.py
  runtime/collector/service.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary, r016-case-sensitivity

feat: Enable ghost trading with order book primitives
  external_policy/ep2_strategy_orderbook_test.py
  observation/internal/m1_ingestion.py
  runtime/collector/service.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

feat: Implement zone geometry & kinematics primitives - close architecture gap
  observation/governance.py
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

feat: Implement M2 memory node pattern detection
  memory/enriched_memory_node.py
  memory/m2_continuity_store.py
  memory/m4_node_patterns.py
  observation/governance.py
  observation/types.py
  runtime/policy_adapter.py
  test_m2_population.py
  test_pattern_detection.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary, r016-case-sensitivity

feat(risk): Implement formal risk invariant validators (R1-R15)
  observation/types.py
  runtime/risk/invariants.py
  runtime/risk/types.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r011-dependency-drift, forbidden-vocabulary

docs: Update README to Constitutional Execution System
  README.md
Due: none

docs: Add comprehensive Operator Manual for calibration workflow
  OPERATOR_MANUAL.md
Due: none

docs: Add formal verification plan and system architecture diagrams
  docs/FORMAL_VERIFICATION_PLAN.md
  docs/SYSTEM_ARCHITECTURE_DIAGRAMS.md
Due: none

fix(policy): Enable mandate generation for UNINITIALIZED status
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

docs: Document EXIT mandate generation fix
  EXIT_MANDATE_FIX_COMPLETE.md
Due: none

fix: Add orderbook_events table and fix enum logging
  MINOR_ISSUES_FIXED.md
  runtime/collector/service.py
  runtime/logging/execution_db.py
  verify_ingestion.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat: Add L2 depth and mark price streams, configure temp to D drive
  .github/scripts/semantic_leak_scan.py
  config.py
  external_policy/ep2_strategy_absence.py
  external_policy/ep2_strategy_geometry.py
  external_policy/ep2_strategy_kinematics.py
  observation/governance.py
  observation/internal/m1_ingestion.py
  replay/test_replay_harness.py
  runtime/collector/service.py
  runtime/env_setup.py
  runtime/executor/controller.py
  runtime/logging/execution_db.py
  runtime/native_app/main.py
  runtime/policy_adapter.py
  runtime/terminal_app/__init__.py
  runtime/terminal_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

fix: Use event time (E) for markPrice stream, not next_funding_time (T)
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hyperliquid): Add Hyperliquid integration for liquidation proximity tracking
  .github/scripts/semantic_leak_scan.py
  runtime/collector/service.py
  runtime/hyperliquid/__init__.py
  runtime/hyperliquid/client.py
  runtime/hyperliquid/collector.py
  runtime/hyperliquid/position_tracker.py
  runtime/hyperliquid/types.py
  runtime/logging/execution_db.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(cascade-sniper): Add liquidation proximity cascade sniper strategy
  .github/scripts/semantic_leak_scan.py
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/collector/service.py
  runtime/liquidations/__init__.py
  runtime/liquidations/burst_aggregator.py
  runtime/liquidations/zscore.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat(cascade): Integrate Hyperliquid cascade primitives into M1-M5 observation layer
  memory/m4_cascade_proximity.py
  memory/m4_cascade_state.py
  memory/m4_leverage_concentration.py
  memory/m4_open_interest_bias.py
  observation/governance.py
  observation/types.py
  runtime/collector/service.py
  runtime/hyperliquid/client.py
  runtime/hyperliquid/collector.py
  runtime/hyperliquid/position_tracker.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary, r016-case-sensitivity

feat(profitability): Add meaningful entry thresholds and PnL-based risk management
  external_policy/ep2_strategy_absence.py
  external_policy/ep2_strategy_geometry.py
  external_policy/ep2_strategy_kinematics.py
  runtime/risk/monitor.py
  runtime/risk/types.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(indexer): Add Hyperliquid position indexer with impact scoring
  docs/HYPERLIQUID_INDEXER.md
  runtime/collector/service.py
  runtime/hyperliquid/client.py
  runtime/hyperliquid/collector.py
  runtime/hyperliquid/indexer/__init__.py
  runtime/hyperliquid/indexer/batch_poller.py
  runtime/hyperliquid/indexer/block_fetcher.py
  runtime/hyperliquid/indexer/coordinator.py
  runtime/hyperliquid/indexer/indexed_wallets.py
  runtime/hyperliquid/indexer/tx_parser.py
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(dashboard): Add whale bias tracking, improved wallet discovery, and validation modules
  runtime/hyperliquid/liquidation_fade.py
  runtime/indicators/__init__.py
  runtime/indicators/atr.py
  runtime/indicators/vwap.py
  runtime/native_app/main.py
  runtime/orderflow/__init__.py
  runtime/orderflow/imbalance.py
  runtime/regime/__init__.py
  runtime/regime/classifier.py
  runtime/regime/types.py
  runtime/validation/__init__.py
  runtime/validation/cross_validator.py
  runtime/validation/data_validator.py
  runtime/validation/entry_quality.py
  runtime/validation/manipulation_detector.py
  runtime/validation/stop_hunt_detector.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(ui): Decouple detection loop from UI with shared state architecture
  runtime/hyperliquid/shared_state.py
  runtime/hyperliquid/ws_position_tracker.py
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ui): Add position stability and filtering for cleaner display
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ws-tracker): Auto-remove liquidated positions from tracking
  runtime/hyperliquid/ws_position_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ws-tracker): Improve liquidation detection logging
  runtime/hyperliquid/ws_position_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(liq-detection): Remove positions immediately when liq price reached
  runtime/hyperliquid/ws_position_tracker.py
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(chart): Add prominent coin label above chart
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(ws-tracker): Add liq price change logging for debugging
  runtime/hyperliquid/ws_position_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ws-tracker): Skip cross-margin positions with no liq price
  runtime/hyperliquid/ws_position_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(liq-price): Skip positions without API-provided liquidation price
  runtime/hyperliquid/indexer/batch_poller.py
  runtime/hyperliquid/ws_position_tracker.py
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(ws-tracker): Add dynamic wallet discovery and improved liquidation detection
  runtime/hyperliquid/shared_state.py
  runtime/hyperliquid/ws_position_tracker.py
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary
