Repository ksiaz/liquidation-trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r004-arbitration-priority-frozen, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r009-m5-query-params, r010-mandate-types, r011-dependency-drift, r012-primitive-computation, r013-exit-supremacy, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

Path conditions:
  r001-forbidden-imports-execution-to-obs: any of: \.(py)$
  r002-forbidden-imports-obs-to-execution: any of: \.(py)$
  r003-state-machine-frozen: any of: runtime/position/state_machine\.py$
  r004-arbitration-priority-frozen: any of: runtime/arbitration/arbitrator\.py$
  r005-new-module-registration: any of: \.(py)$
  r006-frozen-component-modified: any of: \.(py)$
  r008-epistemic-exposure: any of: observation/types\.py$
  r009-m5-query-params: any of: memory/m5_access\.py$
  r010-mandate-types: any of: runtime/arbitration/types\.py$
  r011-dependency-drift: any of: \.(py)$
  r012-primitive-computation: any of: observation/governance\.py$
  r013-exit-supremacy: any of: runtime/arbitration/arbitrator\.py$
  r014-failed-state-terminal: any of: observation/governance\.py$
  r017-timestamp-units: any of: observation/internal/m1_ingestion\.py$
  forbidden-vocabulary: any of: \.(py)$
  r016-case-sensitivity: any of: runtime/policy_adapter\.py$

feat(entry): Add directional regime kill-switch for entry hardening
  external_policy/ep2_strategy_cascade_sniper.py
  memory/m4_absorption_confirmation.py
  observation/types.py
  runtime/policy_adapter.py
  runtime/validation/entry_quality.py
  scripts/ci/scan_forbidden_vocabulary.py
  tests/unit/test_absorption_exhaustion.py
  tests/unit/test_trend_killswitch.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat(risk): Add 9 hardenings for risk, capital, and entry safety
  external_policy/ep2_strategy_cascade_sniper.py
  memory/m4_absorption_confirmation.py
  runtime/risk/capital_manager.py
  runtime/risk/circuit_breaker.py
  runtime/risk/position_sizer.py
  runtime/validation/entry_quality.py
  tests/unit/test_circuit_breaker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(execution): Add E1-E6 execution hardenings and F1-F6 fill/reconciliation fixes
  execution/ep4_hyperliquid_adapter.py
  runtime/arbitration/types.py
  runtime/exchange/fill_tracker.py
  runtime/exchange/order_executor.py
  runtime/exchange/position_reconciler.py
  runtime/executor/controller.py
  runtime/m6_executor.py
  runtime/validation/stop_hunt_detector.py
  tests/unit/test_fill_tracker.py
  tests/unit/test_position_reconciler.py
  tests/unit/test_position_repository.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r010-mandate-types, r011-dependency-drift, forbidden-vocabulary

feat(exit): Add X1-X6 exit management hardenings
  runtime/exchange/order_executor.py
  runtime/exchange/trailing_stop_manager.py
  runtime/position/state_machine.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(persistence): Add P1-P7 state persistence and recovery hardenings
  .github/scripts/semantic_leak_scan.py
  SYSTEM_MAP_SCHEMA.yaml
  runtime/exchange/fill_tracker.py
  runtime/exchange/trailing_stop_manager.py
  runtime/hyperliquid/shared_state.py
  runtime/persistence/__init__.py
  runtime/persistence/execution_state_repository.py
  runtime/persistence/startup_reconciler.py
  runtime/position/state_machine.py
  scripts/ci/scan_forbidden_vocabulary.py
  tests/unit/test_execution_state_persistence.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(tests): Add F5-required parameters to integration tests
  tests/integration/test_data_flow_coherence.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Update SYSTEM_ARCHITECTURE_MAP.md with recent additions
  SYSTEM_ARCHITECTURE_MAP.md
Due: none

feat(exchange): Production hardening - real adapter, dynamic metadata, adaptive slippage
  execution/__init__.py
  execution/hyperliquid_adapter.py
  runtime/collector/service.py
  runtime/exchange/__init__.py
  runtime/exchange/asset_metadata.py
  runtime/exchange/mark_price_service.py
  runtime/exchange/order_executor.py
  runtime/exchange/slippage_tracker.py
  tests/unit/test_order_executor.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(p2): M1 trade side validation + freeze execution layer
  .github/scripts/semantic_leak_scan.py
  CODE_FREEZE.md
  SYSTEM_MAP_SCHEMA.yaml
  observation/internal/m1_ingestion.py
  runtime/executor/controller.py
  runtime/m6_executor.py
  scripts/ci/check_timestamp_units.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r017-timestamp-units, forbidden-vocabulary

fix(audit): Address 12 P0 critical issues from production audit
  docs/PRODUCTION_AUDIT_2026_01_25.md
  execution/hyperliquid_adapter.py
  runtime/exchange/fill_tracker.py
  runtime/exchange/trailing_stop_manager.py
  runtime/exchange/types.py
  runtime/m6_executor.py
  runtime/persistence/execution_state_repository.py
  runtime/position/state_machine.py
  runtime/risk/drawdown_tracker.py
  runtime/risk/position_sizer.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(edge): Edge Preservation Framework & Catastrophe Playbooks
  runtime/analytics/decay_detector.py
  runtime/analytics/windowed_metrics.py
  runtime/exchange/order_executor.py
  runtime/exchange/types.py
  runtime/governance/__init__.py
  runtime/governance/operator_gate.py
  runtime/logging/execution_db.py
  runtime/risk/capital_manager.py
  runtime/risk/catastrophe_handler.py
  runtime/risk/circuit_breaker.py
  tests/unit/test_catastrophe_handler.py
  tests/unit/test_decay_detector.py
  tests/unit/test_operator_gate.py
  tests/unit/test_windowed_metrics.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(risk): Latency-Aware Trade Gate + Alpha Decay Governor
  runtime/logging/execution_db.py
  runtime/risk/alpha_decay_governor.py
  runtime/risk/latency_gate.py
  tests/unit/test_alpha_decay_governor.py
  tests/unit/test_latency_gate.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(governance): Pillar 4 + Pillar 5 - Sovereign Capital & Meta Governors
  runtime/governance/__init__.py
  runtime/governance/capital_governor.py
  runtime/governance/confidence_engine.py
  runtime/governance/meta_governor.py
  runtime/governance/operator_gate.py
  runtime/governance/quarantine_controller.py
  runtime/governance/unknown_unknown_detector.py
  runtime/logging/execution_db.py
  tests/unit/test_capital_governor.py
  tests/unit/test_meta_governor.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Add constitutional answer for exit logic
  docs/CONSTITUTIONAL_ANSWER_EXIT_LOGIC.md
Due: none

feat(node): WSL tooling and node adapter for Hyperliquid integration
  docs/NODE_DATA_DISCOVERY_REPORT.md
  docs/WSL_NODE_TOOLING.md
  runtime/hyperliquid/node_adapter/__init__.py
  runtime/hyperliquid/node_adapter/action_extractor.py
  runtime/hyperliquid/node_adapter/adapter.py
  runtime/hyperliquid/node_adapter/asset_mapping.py
  runtime/hyperliquid/node_adapter/config.py
  runtime/hyperliquid/node_adapter/metrics.py
  runtime/hyperliquid/node_adapter/position_state.py
  runtime/hyperliquid/node_adapter/replica_streamer.py
  runtime/hyperliquid/node_adapter/sync_monitor.py
  runtime/hyperliquid/windows_connector.py
  scripts/node_manager.py
  scripts/setup_wsl_ssh.py
  scripts/test_adapter_connection.py
  scripts/windows_node_adapter.py
  scripts/wsl.cmd
  scripts/wsl_health.cmd
  scripts/wsl_health.py
  scripts/wsl_node_start.cmd
  scripts/wsl_node_status.cmd
  scripts/wsl_node_stop.cmd
  scripts/wsl_restart.cmd
  scripts/wsl_tools.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(observation): Add Hyperliquid oracle price ingestion to M1/governance
  observation/governance.py
  observation/internal/m1_ingestion.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary

chore(schema): Register hyperliquid_node_adapter subsystem
  SYSTEM_MAP_SCHEMA.yaml
Due: none

fix(ci): Update scanner exceptions for new runtime modules
  .github/scripts/semantic_leak_scan.py
  scripts/ci/scan_forbidden_vocabulary.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(schema): Add mandate_arbitration section for CI scripts
  SYSTEM_MAP_SCHEMA.yaml
Due: none

feat(node): Add direct integration for native Ubuntu
  runtime/hyperliquid/node_adapter/config.py
  runtime/hyperliquid/node_adapter/direct_integration.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(node): Add ObservationBridge to wire node to M1
  runtime/hyperliquid/node_adapter/__init__.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(node): Add liquidation detection from node_trades files
  SYSTEM_MAP_SCHEMA.yaml
  observation/internal/m1_ingestion.py
  runtime/hyperliquid/adapter_service/block_reader.py
  runtime/hyperliquid/adapter_service/server.py
  runtime/hyperliquid/node_adapter/adapter.py
  runtime/hyperliquid/node_adapter/direct_integration.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
  runtime/hyperliquid/node_adapter/position_state.py
  runtime/hyperliquid/node_adapter/replica_streamer.py
  scripts/extract_sga_samples.py
  scripts/node_data_discovery.py
  scripts/quick_node_test.py
  scripts/run_node_integration.py
  scripts/sample_setglobalaction.py
  scripts/start_node_adapter.py
  scripts/test_grpc_server.py
  scripts/wsl_adapter_test.py
  scripts/wsl_tcp_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r017-timestamp-units, forbidden-vocabulary

feat(observation): Add HL_ORDER event routing to M1
  .github/scripts/semantic_leak_scan.py
  observation/governance.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

feat(node): Add proximity provider for governance M4 integration
  runtime/hyperliquid/node_adapter/observation_bridge.py
  runtime/hyperliquid/node_adapter/position_state.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(node): Update asset mapping from state file
  runtime/hyperliquid/node_adapter/asset_mapping.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(collector): Add node adapter mode for Hyperliquid integration
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(scripts): Add paper trade script with node integration
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(node): Add liquidation burst aggregator for cascade triggering
  runtime/hyperliquid/node_adapter/__init__.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
  scripts/debug_cascade_signals.py
  scripts/test_burst_aggregation.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(collector): Wire node liquidation bursts to cascade strategy
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(cascade): Add organic flow detection for absorption
  external_policy/ep2_strategy_cascade_sniper.py
  runtime/hyperliquid/node_adapter/__init__.py
  runtime/hyperliquid/node_adapter/organic_flow_detector.py
  scripts/test_cascade_organic_integration.py
  scripts/test_organic_flow_detector.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(monitoring): Add resource monitor for memory tracking
  runtime/monitoring/__init__.py
  runtime/monitoring/resource_monitor.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(monitoring): Add memory guards and cleanup coordinator (Phase 2)
  runtime/hyperliquid/node_adapter/observation_bridge.py
  runtime/hyperliquid/node_adapter/organic_flow_detector.py
  runtime/hyperliquid/node_adapter/position_state.py
  runtime/monitoring/__init__.py
  runtime/monitoring/memory_cleanup.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(monitoring): Add cleanup to CollectorService and Governance (Phase 3)
  observation/governance.py
  runtime/collector/service.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

feat(cascade): Add per-coin liquidation thresholds (P95 research values)
  external_policy/ep2_strategy_cascade_sniper.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(tools): Add development reasoning tool for assumption tracking
  .dev_reasoning.json
  tools/__init__.py
  tools/dev_reasoning.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(node): Fix timestamp domain mismatch causing HL data to be dropped
  .dev_reasoning.json
  docs/HYPERLIQUID_NODE_TROUBLESHOOTING.md
  observation/governance.py
  runtime/collector/service.py
  runtime/hyperliquid/adapter_client/client.py
  runtime/hyperliquid/node_adapter/config.py
  runtime/hyperliquid/node_adapter/direct_integration.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
  runtime/hyperliquid/windows_connector.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

perf(paper-trade): Fix CPU and memory issues
  observation/governance.py
  runtime/collector/service.py
  runtime/hyperliquid/node_adapter/position_state.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

perf(db): Add buffered database wrapper for non-blocking writes
  runtime/collector/service.py
  runtime/logging/buffered_db.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(mandate): Add direction field to StrategyProposal and fix F5 compliance
  external_policy/ep2_effcs_strategy.py
  external_policy/ep2_slbrs_strategy.py
  external_policy/ep2_strategy_absence.py
  external_policy/ep2_strategy_geometry.py
  external_policy/ep2_strategy_kinematics.py
  external_policy/ep2_strategy_orderbook_test.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity
