Repository ksiaz/liquidation-trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r004-arbitration-priority-frozen, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r009-m5-query-params, r010-mandate-types, r011-dependency-drift, r012-primitive-computation, r013-exit-supremacy, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

r001-forbidden-imports-execution-to-obs:
  name: 'R001: Forbidden Imports (Execution → Observation)'
  entry: python scripts/ci/check_forbidden_imports.py --schema SYSTEM_MAP_SCHEMA.yaml --scan runtime/ execution/ external_policy/ --forbidden observation/internal/ memory/m2_ memory/m3_ memory/m4_ --fail-on-violation
  language: system
  ...

r002-forbidden-imports-obs-to-execution:
  name: 'R002: Forbidden Imports (Observation → Execution)'
  entry: python scripts/ci/check_forbidden_imports.py --schema SYSTEM_MAP_SCHEMA.yaml --scan observation/ memory/ --forbidden runtime/m6_ runtime/executor --fail-on-violation
  language: system
  pass_filenames: false

r003-state-machine-frozen:
  name: 'R003: State Machine Transition Table Changed'
  entry: python scripts/ci/verify_state_machine.py --schema SYSTEM_MAP_SCHEMA.yaml --module runtime/position/state_machine.py --machine position_lifecycle --fail-on-mismatch
  language: system
  pass_filenames: false

r004-arbitration-priority-frozen:
  name: 'R004: Arbitration Priority Order Changed'
  entry: python scripts/ci/verify_arbitration_priority.py --schema SYSTEM_MAP_SCHEMA.yaml --module runtime/arbitration/arbitrator.py --fail-on-mismatch
  language: system
  pass_filenames: false

r005-new-module-registration:
  name: 'R005: New Module Not Registered in Schema'
  entry: python scripts/ci/check_new_modules.py --schema SYSTEM_MAP_SCHEMA.yaml --git-diff HEAD~1..HEAD --fail-on-unregistered
  language: system
  pass_filenames: false

r006-frozen-component-modified:
  name: 'R006: Frozen Component Modified Without Override'
  entry: 'python scripts/ci/check_frozen_components.py --schema SYSTEM_MAP_SCHEMA.yaml --git-diff HEAD~1..HEAD --require-override "OVERRIDE: CODE_FREEZE" --fail-on-unauthorized'
  language: system
  pass_filenames: false

r008-epistemic-exposure:
  name: 'R008: Evaluative Field in ObservationSnapshot'
  entry: python scripts/ci/check_epistemic_exposure.py --file observation/types.py --forbidden-fields health ready quality confidence score rating strength --fail-on-violation
  language: system
  pass_filenames: false

r009-m5-query-params:
  name: 'R009: Forbidden M5 Query Parameter'
  entry: python scripts/ci/check_m5_query_params.py --file memory/m5_access.py --forbidden score rating quality confidence predict --fail-on-violation
  language: system
  pass_filenames: false

r010-mandate-types:
  name: 'R010: Unregistered Mandate Type'
  entry: python scripts/ci/check_mandate_types.py --schema SYSTEM_MAP_SCHEMA.yaml --file runtime/arbitration/types.py --enum MandateType --fail-on-unregistered
  language: system
  pass_filenames: false

r011-dependency-drift:
  name: 'R011: Undeclared Dependency in Schema'
  entry: python scripts/ci/check_dependency_drift.py --schema SYSTEM_MAP_SCHEMA.yaml --codebase . --fail-on-undeclared
  language: system
  pass_filenames: false

feat(cross-margin): Add proper liquidation price calculation using account equity
  runtime/hyperliquid/liquidation_fade.py
  runtime/hyperliquid/paper_trade_store.py
  runtime/hyperliquid/ws_position_tracker.py
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(discovery): Add proximity-based polling and lower discovery thresholds
  runtime/hyperliquid/indexer/batch_poller.py
  runtime/hyperliquid/indexer/indexed_wallets.py
  runtime/hyperliquid/wallet_registry.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(fade): Add liquidation consumption validation sanity check
  runtime/hyperliquid/liquidation_fade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ui): Widen position display threshold from 2% to 5%
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(zombie): Add real-time price validation to filter liquidated positions
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ui): Prioritize proximity over value in position filtering
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(ui): Enhance QuickTradePanel with market/limit and % sizing
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(filter): Apply proximity-priority to all position filters
  runtime/native_app/main.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(perf): Remove excessive DEBUG logging causing UI lag
  observation/governance.py
  runtime/collector/service.py
  runtime/native_app/main.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary, r016-case-sensitivity

docs(node): Add Hyperliquid node integration documentation and code
  docs/NODE_INTEGRATION_SESSION.md
  runtime/hyperliquid/node_client.py
  scripts/node_proxy.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs(hlp): Fix constitutional vocabulary and mark unvalidated claims
  docs/HLP1.md
  docs/HLP10.md
  docs/HLP11.md
  docs/HLP12.md
  docs/HLP13.md
  docs/HLP13_VALUE_ASSESSMENT.md
  docs/HLP14.md
  docs/HLP15.md
  docs/HLP16.md
  docs/HLP17.md
  docs/HLP18.md
  docs/HLP19.md
  docs/HLP2.md
  docs/HLP20.md
  docs/HLP21.md
  docs/HLP22.md
  docs/HLP23.md
  docs/HLP3.md
  docs/HLP4.md
  docs/HLP5.md
  docs/HLP7.md
  docs/HLP9.md
  docs/HLP_GAP_ANALYSIS.md
  docs/ops/SECURITY_ISOLATION.md
Due: none

docs(hlp): Add HLP25 - Advanced Cascade Mechanics & Cross-Market Signals
  docs/HLP25.md
Due: none

feat(hlp): Implement HLP24-compliant data infrastructure
  runtime/hyperliquid/client.py
  runtime/hyperliquid/collector.py
  runtime/hyperliquid/hl_data_store.py
  runtime/hyperliquid/mock_data.py
  runtime/hyperliquid/tiered_poller.py
  runtime/hyperliquid/types.py
  runtime/logging/execution_db.py
  tests/unit/test_hl_data_store.py
  tests/unit/test_tiered_poller.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

test(hlp): Add integration and property tests for HLP24 compliance
  tests/integration/test_hl_collector_storage.py
  tests/property/__init__.py
  tests/property/test_hl_data_invariants.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Implement HLP25 validation pipeline for hypothesis testing
  analysis/__init__.py
  analysis/cascade_labeler.py
  analysis/validators/__init__.py
  analysis/validators/absorption.py
  analysis/validators/base.py
  analysis/validators/cross_asset.py
  analysis/validators/oi_concentration.py
  analysis/validators/wave_structure.py
  analysis/wave_detector.py
  runtime/logging/execution_db.py
  scripts/run_hlp25_validation.py
  tests/unit/test_cascade_labeler.py
  tests/unit/test_validators.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Add remaining HLP25 validators (Parts 1, 5, 7)
  analysis/validators/__init__.py
  analysis/validators/funding_lead.py
  analysis/validators/funding_settlement.py
  analysis/validators/manipulation.py
  scripts/run_hlp25_validation.py
  tests/unit/test_validators.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Add HLP25 Part 8/9 validators and Binance data collection
  analysis/validators/__init__.py
  analysis/validators/basis.py
  analysis/validators/sequencing.py
  runtime/binance/__init__.py
  runtime/binance/client.py
  runtime/logging/execution_db.py
  scripts/run_hlp25_validation.py
  tests/unit/test_validators.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Implement HLP23 threshold discovery system
  analysis/__init__.py
  analysis/threshold_discovery.py
  analysis/threshold_store.py
  runtime/logging/execution_db.py
  scripts/run_hlp23_discovery.py
  tests/unit/test_threshold_discovery.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(binance): Add Binance data collector service
  runtime/binance/__init__.py
  runtime/binance/collector.py
  scripts/run_binance_collector.py
  tests/unit/test_binance_collector.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Implement HLP16 failure modes and HLP17 capital management
  runtime/risk/__init__.py
  runtime/risk/capital_manager.py
  runtime/risk/circuit_breaker.py
  runtime/risk/data_validator.py
  runtime/risk/degradation.py
  runtime/risk/drawdown_tracker.py
  runtime/risk/health_monitor.py
  runtime/risk/position_sizer.py
  runtime/risk/risk_limits.py
  tests/unit/test_capital_management.py
  tests/unit/test_circuit_breaker.py
  tests/unit/test_health_monitor.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Implement HLP18 exchange integration module
  runtime/exchange/__init__.py
  runtime/exchange/fill_tracker.py
  runtime/exchange/order_executor.py
  runtime/exchange/position_reconciler.py
  runtime/exchange/slippage_tracker.py
  runtime/exchange/types.py
  tests/unit/test_fill_tracker.py
  tests/unit/test_order_executor.py
  tests/unit/test_position_reconciler.py
  tests/unit/test_slippage_tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(hlp): Implement HLP19 monitoring and analytics module
  runtime/analytics/__init__.py
  runtime/analytics/alert_manager.py
  runtime/analytics/metrics_collector.py
  runtime/analytics/performance_tracker.py
  runtime/analytics/trade_journal.py
  runtime/analytics/types.py
  tests/unit/test_alert_manager.py
  tests/unit/test_metrics_collector.py
  tests/unit/test_performance_tracker.py
  tests/unit/test_trade_journal.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(meta): Add meta-monitoring for design bias protection
  runtime/meta/__init__.py
  runtime/meta/assumption_registry.py
  runtime/meta/model_health.py
  runtime/meta/system_regime.py
  runtime/meta/types.py
  tests/unit/test_assumption_registry.py
  tests/unit/test_model_health.py
  tests/unit/test_system_regime.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Add module contracts documentation and integration tests
  docs/MODULE_CONTRACTS.md
  tests/integration/__init__.py
  tests/integration/test_contract_boundaries.py
  tests/integration/test_data_flow_coherence.py
  tests/integration/test_full_pipeline_synthetic.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix: Address contract gaps and add system audit
  docs/SYSTEM_AUDIT_REPORT_2026-01-25.md
  observation/types.py
  runtime/arbitration/arbitrator.py
  runtime/arbitration/types.py
  runtime/executor/controller.py
  runtime/risk/types.py
  tests/integration/test_data_flow_coherence.py
  tests/integration/test_full_pipeline_synthetic.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r004-arbitration-priority-frozen, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r010-mandate-types, r011-dependency-drift, r013-exit-supremacy, forbidden-vocabulary

feat(position): Add SQLite-backed position persistence
  runtime/executor/controller.py
  runtime/position/__init__.py
  runtime/position/repository.py
  runtime/position/state_machine.py
  tests/unit/test_position_repository.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(masterframe): Resolve import errors blocking test collection
  masterframe/data_ingestion/__init__.py
  masterframe/data_ingestion/data_synchronizer.py
  masterframe/data_ingestion/stream_buffers.py
  masterframe/data_ingestion/types.py
  masterframe/slbrs/__init__.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(schema): Add M3/M4 schema compliance modules
  memory/m3_temporal.py
  memory/m4_views.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(tests): Resolve 48 test failures across M1, M2, SLBRS, and replay modules
  masterframe/slbrs/state_machine.py
  memory/m2_continuity_store.py
  observation/internal/m1_ingestion.py
  tests/test_orderbook_integration.py
  tests/test_replay_controller.py
  tests/test_replay_infrastructure_validation.py
  tests/test_replay_system_wrapper.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r017-timestamp-units, forbidden-vocabulary

fix(schema): Add missing modules and update semantic leak exceptions
  .github/scripts/semantic_leak_scan.py
  .gitignore
  external_policy/ep1_oracle_volatility.py
  external_policy/ep3_strategy_deviation_bounds.py
  runtime/position/tracker.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(memory): Add Tier B Phase B-3/B-4 primitives
  memory/m4_cascade_momentum.py
  memory/m4_liquidation_clustering.py
  memory/m4_trade_flow.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(strategy): Add SLBRS and EFFCS external policy strategies
  external_policy/ep2_effcs_strategy.py
  external_policy/ep2_slbrs_strategy.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(ci): Add exception mechanisms for import and vocabulary validators
  scripts/ci/check_forbidden_imports.py
  scripts/ci/scan_forbidden_vocabulary.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

chore(schema): Register SLBRS and EFFCS strategy modules
  SYSTEM_MAP_SCHEMA.yaml
Due: none

feat(hyperliquid): Add live tracking and whale wallet modules
  runtime/hyperliquid/fetch_gossip_peers.py
  runtime/hyperliquid/gossip_peers.json
  runtime/hyperliquid/live_tracker.py
  runtime/hyperliquid/whale_wallets.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Add Hyperliquid integration and research documentation
  EXTERNAL_POLICY_CONSTITUTION.md
  docs/DISCORD_EXPORTER_SETUP.md
  docs/GHOST_TRADES_ENHANCED_SCHEMA.md
  docs/HYPERLIQUID_DISCORD_KNOWLEDGE.md
  docs/HYPERLIQUID_GITHUB_RESOURCES.md
  docs/HYPERLIQUID_INTEGRATION_PLAN.md
  docs/HYPERLIQUID_NODE_TROUBLESHOOTING.md
  docs/IMPLEMENTATION_ROADMAP_NODE_TACTICS.md
  docs/MANIPULATION_RESEARCH_FINDINGS.md
  docs/TACTICAL_PLAN_LIQUIDATION_SNIPING.md
Due: none

test: Add integration, regime, and strategy test suites
  runtime/executor/tests/test_exit_lifecycle.py
  test_cascade_full_validation.py
  test_cascade_integration.py
  tests/integration/test_regime_mutual_exclusion.py
  tests/regime/__init__.py
  tests/regime/test_classifier.py
  tests/strategies/__init__.py
  tests/strategies/test_effcs.py
  tests/strategies/test_slbrs.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(m4): Add absorption-based exhaustion confirmation
  memory/m4_absorption_confirmation.py
  memory/m4_cascade_momentum.py
  scripts/ci/check_new_modules.py
  scripts/ci/verify_invariant_coverage.py
  tests/unit/test_absorption_exhaustion.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(m4): Make absorption detection regime-adaptive
  SYSTEM_MAP_SCHEMA.yaml
  memory/m4_absorption_confirmation.py
  scripts/ci/scan_forbidden_vocabulary.py
  tests/unit/test_absorption_exhaustion.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

Path conditions:
  r001-forbidden-imports-execution-to-obs: any of: \.(py)$
  r002-forbidden-imports-obs-to-execution: any of: \.(py)$
  r003-state-machine-frozen: any of: runtime/position/state_machine\.py$
  r004-arbitration-priority-frozen: any of: runtime/arbitration/arbitrator\.py$
  r005-new-module-registration: any of: \.(py)$
  r006-frozen-component-modified: any of: \.(py)$
  r008-epistemic-exposure: any of: observation/types\.py$
  r009-m5-query-params: any of: memory/m5_access\.py$
  r010-mandate-types: any of: runtime/arbitration/types\.py$
  r011-dependency-drift: any of: \.(py)$
  r012-primitive-computation: any of: observation/governance\.py$
  r013-exit-supremacy: any of: runtime/arbitration/arbitrator\.py$
  r014-failed-state-terminal: any of: observation/governance\.py$
  r017-timestamp-units: any of: observation/internal/m1_ingestion\.py$
  forbidden-vocabulary: any of: \.(py)$
  r016-case-sensitivity: any of: runtime/policy_adapter\.py$
