Repository ksiaz/liquidation-trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r003-state-machine-frozen, r004-arbitration-priority-frozen, r005-new-module-registration, r006-frozen-component-modified, r008-epistemic-exposure, r009-m5-query-params, r010-mandate-types, r011-dependency-drift, r012-primitive-computation, r013-exit-supremacy, r014-failed-state-terminal, r017-timestamp-units, forbidden-vocabulary, r016-case-sensitivity

Path conditions:
  r001-forbidden-imports-execution-to-obs: any of: \.(py)$
  r002-forbidden-imports-obs-to-execution: any of: \.(py)$
  r003-state-machine-frozen: any of: runtime/position/state_machine\.py$
  r004-arbitration-priority-frozen: any of: runtime/arbitration/arbitrator\.py$
  r005-new-module-registration: any of: \.(py)$
  r006-frozen-component-modified: any of: \.(py)$
  r008-epistemic-exposure: any of: observation/types\.py$
  r009-m5-query-params: any of: memory/m5_access\.py$
  r010-mandate-types: any of: runtime/arbitration/types\.py$
  r011-dependency-drift: any of: \.(py)$
  r012-primitive-computation: any of: observation/governance\.py$
  r013-exit-supremacy: any of: runtime/arbitration/arbitrator\.py$
  r014-failed-state-terminal: any of: observation/governance\.py$
  r017-timestamp-units: any of: observation/internal/m1_ingestion\.py$
  forbidden-vocabulary: any of: \.(py)$
  r016-case-sensitivity: any of: runtime/policy_adapter\.py$

feat(regime): Add ATR warm-up from historical klines on startup
  runtime/binance/client.py
  runtime/collector/service.py
  runtime/indicators/atr.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

fix(cascade): Wire proximity data from node bridge to cascade strategy
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

diag(geometry): Add detailed zone state to diagnostic output
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat(geometry): Create M2 nodes from HL liquidations and proximity alerts
  observation/governance.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

fix(geometry): Fix M2 node creation from HL proximity alerts
  observation/governance.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

fix(memory): Prevent OOM from unbounded node and event accumulation
  memory/m2_continuity_store.py
  observation/internal/m3_temporal.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(strategy): Remove spurious EXIT on regime mismatch in SLBRS/EFFCS
  external_policy/ep2_effcs_strategy.py
  external_policy/ep2_slbrs_strategy.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(geometry): Prevent zone oscillation with stable zone_id and geometric tolerance
  external_policy/ep2_strategy_geometry.py
  memory/m4_node_patterns.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(m2): Remove M2 node creation from proximity alerts
  runtime/hyperliquid/node_adapter/observation_bridge.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Add M2.5 Candidate Zones design document
  DEV_NOTES.md
  docs/M2_CANDIDATE_ZONES_DESIGN.md
Due: none

feat(m2.5): Implement Candidate Zones layer
  memory/candidate_zones.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(m2.5): Add zone archive for long-term learning + fix memory leak
  DEV_NOTES.md
  memory/candidate_zones.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(vwap): Add get_vwap() method for logging
  runtime/indicators/vwap.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(oscillation): Add entry grace period to prevent immediate exits
  external_policy/ep2_strategy_geometry.py
  runtime/policy_adapter.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary, r016-case-sensitivity

feat(liquidations): Forward Binance liquidations to M2 node creation
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Document Binance liquidation forwarding workaround
  DEV_NOTES.md
Due: none

fix(liquidations): Read HL liquidations from node_fills with correct format
  observation/internal/m1_ingestion.py
  runtime/hyperliquid/node_adapter/direct_integration.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r017-timestamp-units, forbidden-vocabulary

fix(memory): OOM prevention and WebSocket reconnection fixes
  runtime/collector/service.py
  runtime/hyperliquid/node_adapter/observation_bridge.py
  runtime/hyperliquid/node_adapter/position_state.py
  runtime/hyperliquid/node_adapter/streaming_parser.py
  runtime/logging/execution_db.py
  runtime/monitoring/resource_monitor.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

docs: Add implementation status and diagnostic script
  .gitignore
  docs/IMPLEMENTATION_STATUS.md
  scripts/diagnostic_mandate_flow.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(m2-m4): Complete semantic audit and HL-native decision loop
  docs/HL_NATIVE_DECISION_LOG.md
  docs/M2_M4_ARCHITECTURAL_STATE_REPORT.md
  docs/M2_M4_SEMANTIC_CLOSURE.md
  docs/M2_M4_SEMANTIC_INTEGRITY_REPORT.md
  observation/governance.py
  runtime/hl_native/__init__.py
  runtime/hl_native/adapter.py
  runtime/hl_native/decision_loop.py
  scripts/run_hl_native_loop.py
  scripts/test_hl_native_decision_logic.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, r012-primitive-computation, r014-failed-state-terminal, forbidden-vocabulary

chore: Complete project move to 2TB drive
  docs/MOVE_PLAN.md
  docs/WSL_NODE_TOOLING.md
  runtime/native_app/main.py
  scripts/discord_exporter.py
  scripts/node_live_viewer.py
  scripts/run_adapter_client.py
  scripts/setup_wsl_ssh.py
  scripts/start_wsl_adapter.sh
  scripts/watch_internals.sh
  scripts/windows_node_adapter.py
  scripts/wsl.cmd
  scripts/wsl_adapter_test.py
  scripts/wsl_health.cmd
  scripts/wsl_health.py
  scripts/wsl_node_start.cmd
  scripts/wsl_node_status.cmd
  scripts/wsl_node_stop.cmd
  scripts/wsl_restart.cmd
  scripts/wsl_run.py
  scripts/wsl_ssh.py
  scripts/wsl_tcp_adapter.py
  scripts/wsl_test_simple.py
  scripts/wsl_tools.py
  tests/test_collector_service_basics.py
  tests/test_observation_governance.py
  tests/test_observation_m1_ingestion.py
  tools/dev_reasoning.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix: Critical system improvements from evaluation
  .env.example
  external_policy/ep2_strategy_geometry.py
  requirements-dev.txt
  requirements-optional.txt
  requirements.txt
  runtime/collector/service.py
  runtime/executor/controller.py
  runtime/hyperliquid/node_client.py
  runtime/position/repository.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(cascade): Use correct attribute name is_absorbing
  external_policy/ep2_strategy_cascade_sniper.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(adapter): Prevent silent failure when liquidation data unavailable
  docs/DEV_NOTES.md
  hl-node-adapter/readers/liquidation_reader.py
  hl-node-adapter/server.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(slbrs): Add liquidity verification to prevent spoofing entries
  masterframe/controller/master_controller.py
  masterframe/slbrs/block_detector.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(mcp): Improve progressive disclosure with context budget and hint prefetching
  scripts/mcp_debate_server.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(mcp): Handle Llama text-based function call format
  scripts/mcp_debate_server.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(mcp): Retry without tools when Groq rejects text-based function calls
  scripts/mcp_debate_server.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(adapter): Add FillEvent stream for absorption detection
  hl-adapter/SCHEMA.md
  hl-adapter/adapter.py
  hl-adapter/events_pb2.py
  hl-adapter/events_pb2_grpc.py
  hl-adapter/grpc_server.py
  hl-adapter/proto/events.proto
  hl-adapter/readers/__init__.py
  hl-adapter/readers/fill_reader.py
  hl-adapter/readers/price_reader.py
  hl-adapter/server.py
  runtime/node_client/__init__.py
  runtime/node_client/bridge.py
  runtime/node_client/subscriber.py
  runtime/node_client/types.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(adapter): Add supporting files for HL node adapter
  hl-adapter/asset_mapping.py
  hl-adapter/checkpoint.py
  hl-adapter/main.py
  hl-adapter/readers/liquidation_reader.py
  hl-adapter/test_client.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(adapter): Fix fill reader hour rotation detection
  hl-adapter/readers/fill_reader.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(adapter): Remove system time dependency from fill reader
  hl-adapter/readers/fill_reader.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(liquidation_reader): Remove system time dependency for clock drift
  hl-adapter/readers/liquidation_reader.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

config: Expand HL node symbols from 7 to 10
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

config: Replace ADA with SUI for better HL coverage
  runtime/collector/service.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

feat(cleanup): Add unused HL node dirs to cleanup script
  scripts/cleanup_hl_data.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(collector): Enable proximity tracking in node mode
  runtime/collector/service.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

fix(price_reader): Use UTC timezone for block timestamp parsing
  hl-adapter/readers/price_reader.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary

config: Expand monitored symbols from 10 to 15
  hl-adapter/asset_mapping.py
  runtime/collector/service.py
  scripts/run_paper_trade.py
Due: r001-forbidden-imports-execution-to-obs, r002-forbidden-imports-obs-to-execution, r005-new-module-registration, r006-frozen-component-modified, r011-dependency-drift, forbidden-vocabulary
